{:paths ["src"]
 :deps {org.clojure/clojure       {:mvn/version "1.11.1"}
        clj-http/clj-http         {:mvn/version "3.12.3"}
        hickory/hickory           {:mvn/version "0.7.1"}}
 :aliases {:exec {:main-opts ["-m" "digimon-reference.core"]}}}
